body {
    font-family: 'raleway', sans-serif;
    margin: 2.5rem auto;
    max-width: 40rem;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFF;
    background: #248;
    padding: 0 1rem;
}

h1, h2, h3 {
    line-height: 1.2
}

blockquote {
    margin-left: 1.5rem;
    padding-left: 1.4rem;
    border-left: 0.16rem solid #FF5;
}

a:link, a:visited {
    color: #FF5;
}
